<%# Rendu de banner (_navbar.html.erb) %>
<%= render "/shared/banner" %>

<div class="container py-5">
  <h2>Toutes les quêtes créées</h2>
  <br>
  <% @cards = Card.all %>
  <div class="row">
    <% @cards.each do |card| %>
      <%= link_to quest_path(card.quest), class:"col-md-4 mb-3 text-decoration-none" do %>
          <%= render "cards/card", card: card %>
      <% end %>
    <% end %>

  </div>

</div>
