
<%# Rendu de banner (_navbar.html.erb) %>
<%= render "/shared/banner" %>

<div class="container py-5">
  <h2>Découvrez les quêtes forgées par d'autres aventuriers :</h2>
  <br>
  <br>
  <% @cards = Card.all %>
  <div class="row">

    <% @cards.reverse.each do |card| %>
      <% if card.status == "active" %>
        <%= link_to card_path(card), class:"col-md-4 mb-5 text-decoration-none" do %>
            <%= render "cards/card", card: card %>
        <% end %>
      <% end %>
    <% end %>

  </div>

</div>
