
<%# Container principal %>
<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col chat_show h-100"><h2>Chat show</h2></div>
    <div class="col card_show h-100"><h2>Quests show</h2></div>
  </div>


</div>
