<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path("banner.png") %>);">
  <div class="container text-center">
    <h1>Turn any request into an RPG quest!</h1>
    <%# if user_signed_in? %>
      <%= simple_form_for :quest, url: "/quests", method: :post, html: { class: "d-flex justify-content-center" } do %>
        <%= button_tag type: "submit", class: "ui-btn primary" do %>
          <span class="key">Q</span>
          <span class="text">New quest</span>
        <% end %>
      <% end %>
    <%# else %>
      <%#= link_to "Sign up", "#", class: "btn btn-lg btn-primary" %>
    <%# end %>
  </div>
</div>
