.navbar-lewagon {
  justify-content: space-between;
  background-color: #662A3A;
  color: #662A3A;
}
.navbar-lewagon a {
  color: #662A3A;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 1;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.dropdown-menu {
  background-color: #FDDFBE;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #662A3A;
  background-color: #F3CFA8;
}
