body {
  background-color: #D1AE98;
  font-family: 'Cormorant Garamond', serif;
  height: 91.8vh !important;
  margin-top: 66px;
}
h1, h2, h3, h4, h5, p, a {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
}
