<div class="quest-card">

  <div class="quest-top">
    <%= image_tag "icone_quete_mage.png", class: "quest-class-icon" %>
    <span class="quest-class">Quête de Mage</span>
  </div>

  <div class="quest-body">
    <h2 class="quest-title">
      La Ballade du Chariot Brisé
    </h2>

    <p class="quest-description">
      Chante pour attirer un sage de la mécanique capable de le ramener à la vie.
      Cette quête requiert patience, courage et un soupçon de magie ancienne.
    </p>
  </div>

  <div class="quest-location">
    <%= image_tag "icon_localisation.png", class: "location-icon" %>
    <span>Forêt d’Eldoria</span>
  </div>

  <div class="quest-divider"></div>

  <div class="quest-footer">
    <div class="quest-reward">
      Gain : 3 200
      <%= image_tag "icone_gain.png", class: "coin-icon" %>
    </div>
  </div>
</div>
